<div class="content">
  <header class="header">
    <mat-toolbar class="flex-container" color="primary">
      <span routerLink="/welcome">
        {{ title }}
      </span>
      <span class="fill-horizontal"></span>
      <button mat-icon-button>
        <mat-icon>account_circle</mat-icon>
      </button>
    </mat-toolbar>
  </header>
  <main class="main">
    <router-outlet></router-outlet>
  </main>
  <footer class="footer">
    <mat-toolbar class="footer-toolbar">
    </mat-toolbar>
  </footer>
</div>
